SadService/SadService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="SadService" targetNamespace="http://SadService" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://SadService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="SadService_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="SadServiceHttpBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://SadService">
      <xsd:include schemaLocation="SadService_InlineSchema1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="timeOutRequestMsg">
    <wsdl:part element="tns:timeOut" name="timeOutParameters"/>
  </wsdl:message>
  <wsdl:message name="timeOutResponseMsg">
    <wsdl:part element="tns:timeOutResponse" name="timeOutResult"/>
  </wsdl:message>
    <wsdl:message name="failRequestMsg">
    <wsdl:part element="tns:fail" name="failParameters"/>
  </wsdl:message>
    <wsdl:message name="failResponseMsg">
    <wsdl:part element="tns:failResponse" name="failResult"/>
  </wsdl:message>
    <wsdl:message name="catchRequestMsg">
    <wsdl:part element="tns:catch" name="catchParameters"/>
  </wsdl:message>
    <wsdl:message name="catchResponseMsg">
    <wsdl:part element="tns:catchResponse" name="catchResult"/>
  </wsdl:message>
    <wsdl:portType name="SadService">
    <wsdl:operation name="timeOut">
      <wsdl:input message="tns:timeOutRequestMsg" name="timeOutRequest"/>
      <wsdl:output message="tns:timeOutResponseMsg" name="timeOutResponse"/>
    </wsdl:operation>
        <wsdl:operation name="fail">
      <wsdl:input message="tns:failRequestMsg" name="failRequest"/>
      <wsdl:output message="tns:failResponseMsg" name="failResponse"/>
    </wsdl:operation>
        <wsdl:operation name="catch">
      <wsdl:input message="tns:catchRequestMsg" name="catchRequest"/>
      <wsdl:output message="tns:catchResponseMsg" name="catchResponse"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="SadServiceHttpBinding" type="tns:SadService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="timeOut">
            <soap:operation soapAction="http://SadService/timeOut"/>
            <wsdl:input name="timeOutRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="timeOutResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="fail">
      <soap:operation soapAction="http://SadService/fail"/>
      <wsdl:input name="failRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="failResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="catch">
      <soap:operation soapAction="http://SadService/catch"/>
      <wsdl:input name="catchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="catchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="SadServiceHttpService">
    <wsdl:port binding="tns:SadServiceHttpBinding" name="SadServiceHttpPort">
            <soap:address location="http://localhost:7800/SadService/SadService"/>
        </wsdl:port>
  </wsdl:service>
</wsdl:definitions>