SadService/SadService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="SadService" targetNamespace="http://SadService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://SadService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="SadService_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="SadServiceHttpBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://SadService">
      <xsd:include schemaLocation="SadService_InlineSchema1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="timeOutRequestMsg">
    <wsdl:part element="tns:timeOut" name="timeOutParameters"/>
  </wsdl:message>
  <wsdl:message name="timeOutResponseMsg">
    <wsdl:part element="tns:timeOutResponse" name="timeOutResult"/>
  </wsdl:message>
    <wsdl:message name="fail1RequestMsg">
    <wsdl:part element="tns:fail1" name="fail1Parameters"/>
  </wsdl:message>
    <wsdl:message name="fail1ResponseMsg">
    <wsdl:part element="tns:fail1Response" name="fail1Result"/>
  </wsdl:message>
    <wsdl:message name="fail2RequestMsg">
    <wsdl:part element="tns:fail2" name="fail2Parameters"/>
  </wsdl:message>
    <wsdl:message name="fail2ResponseMsg">
    <wsdl:part element="tns:fail2Response" name="fail2Result"/>
  </wsdl:message>
    <wsdl:portType name="SadService">
    <wsdl:operation name="timeOut">
      <wsdl:input message="tns:timeOutRequestMsg" name="timeOutRequest"/>
      <wsdl:output message="tns:timeOutResponseMsg" name="timeOutResponse"/>
    </wsdl:operation>
        <wsdl:operation name="fail1">
      <wsdl:input message="tns:fail1RequestMsg" name="fail1Request"/>
      <wsdl:output message="tns:fail1ResponseMsg" name="fail1Response"/>
    </wsdl:operation>
        <wsdl:operation name="fail2">
      <wsdl:input message="tns:fail2RequestMsg" name="fail2Request"/>
      <wsdl:output message="tns:fail2ResponseMsg" name="fail2Response"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="SadServiceHttpBinding" type="tns:SadService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="timeOut">
      <soap:operation soapAction="http://SadService/timeOut"/>
      <wsdl:input name="timeOutRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="timeOutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="fail1">
      <soap:operation soapAction="http://SadService/fail1"/>
      <wsdl:input name="fail1Request">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fail1Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="fail2">
      <soap:operation soapAction="http://SadService/fail2"/>
      <wsdl:input name="fail2Request">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fail2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="SadServiceHttpService">
    <wsdl:port binding="tns:SadServiceHttpBinding" name="SadServiceHttpPort">
            <soap:address location="http://localhost:7800/SadService/SadService"/>
        </wsdl:port>
  </wsdl:service>
</wsdl:definitions>