EchoService/EchoService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://EchoService" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://EchoService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element ibmSchExtn:docRoot="true" name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="input" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element ibmSchExtn:docRoot="true" name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>